
/*
.slide-effect.ng-hide {
    transition: 0.5s linear all; 
    opacity: 0;
    animation: fadeIn 1s;
}
*/

.slide-effect {
/*
  line-height: 20px;
  padding: 10px;
  border: 1px solid black;
  background: white;
  opacity: 1;
*/
}

/*
.slide-effect.ng-hide-add {
  animation: fadeOut 0.7s;
}
*/

.slide-effect.ng-hide-remove {
  /* transition: all linear 0.5s; */
  animation: zoomIn 0.8s;
}

.slide-effect.ng-hide {
/*
  line-height: 0;
  padding: 0 10px;
  opacity: 0;
*/
}
