
<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Detail
            </div>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Gid</th>
                        <td>{{ product.entrpPrdctGid }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.entrpPrdctNam }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product.entrpPrdctDesc }}</td>
                    </tr>
                    <tr>
                        <th>Output directory</th>
                        <td>{{ product.fileLctnTmpltTxt }}</td>
                    </tr>
                    <tr>
                        <th>Target database</th>
                        <td>{{ product.trgtSchmaNam }} @ {{ product.trgtDbNam }}</td>
                    </tr>
                    <tr>
                        <th>Perl driver</th>
                        <td>{{ product.trgtPerlDrvrNam }}</td>
                    </tr>
                    <tr>
                        <th>Enabled</th>
                        <td>{{ indicatorToText(product.aprvdInd) }}</td>
                    </tr>
                    <tr>
                        <th>Last update</th>
                        <td>{{ product.lstUpdtTstmp | date:'medium' }} <em>by</em> <strong>{{ product.lstUpdtId }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            
            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/edit">Edit Product</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/formats/list">Show Formats</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/tasks/list">Show Tasks</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/parameters/list">Show Parameters</a>
                <a class="list-group-item" href="#/products/list">Show Product List</a>
            </div>
        </div>
    </div>
</div>
