<div class="row">
    <div class="col-sm-2">
        <ul class="list-unstyled">
            <li><a href="#/products/list">Products</a></li>
            <li><a href="#/parameters">Parameters</a></li>
        </ul>
    </div>

    <div class="col-sm-10">
        <p>This is a web-based tool to help simplify maintenance of product configurations in the DESTINEE Delivery Tool.</p>
        <p>Disclaimers:</p>
        <ul>
            <li>Use at your own risk.</li>
            <li>Not ready for prime time.</li>
            <li>Your mileage may vary.</li>
            <li>Do not use while consuming alcohol or operating heavy equipment.</li>
            <li>Past performance is not indicative of future returns.</li>
            <li>Common side effects include nausea, vomiting, irritability, loss of control of bodily functions. In rare cases, homicidal thoughts and actions have been reported.</li>
        </ul>
    </div>
</div>
