
    <div class="jumbotron">
        <h1>Welcome!</h1>

        <p>
            This is the administrative interface for DESTINEE Delivery Tool product definitions.
            The interface supports browsing, creating, and editing product definitions.
        </p>

        <p>Disclaimers:</p>
        <ul>
            <li>Not quite ready for prime time.</li>
            <li>Use at your own risk.</li>
            <li>Past performance is no guarantee of future results.</li>
            <li>Do not use while consuming alcohol or hallucinogenic drugs.</li>
            <li>
                Common side effects include irritability, nausea, vomiting, and loss of bladder control. 
                In rare cases, homicidal thoughts and actions have been reported.
            </li>
            <li>Do not taunt the DESTINEE Delivery Tool.</li>
        </ul>
    </div>
