
    <div class="jumbotron">
        <h1>Welcome!</h1>

        <p>
            This is the admistrative interface to DESTINEE Delivery Tool data extract product definitions.
            The interface supports browsing and editing existing product definitions. 
            It also supports creating new product definitions.
        </p>

        <p>Disclaimers:</p>
        <ul>
            <li>Not quite ready for prime time.</li>
            <li>Use at your own risk.</li>
            <li>Your mileage may vary.</li>
            <li>Past performance is not a predictor of future results.</li>
            <li>Do not use while consuming alcohol or hallucinogenic drugs.</li>
            <li>
                Common side effects include irritability, nausea, vomiting, and loss of bladder control. 
                In rare cases, homicidal thoughts and actions have been reported.
            </li>
        </ul>
    </div>
