
    <div class="jumbotron">
        <h1>Houston, we have a problem</h1>

        <p>
            The page you tried to access does not exist. 
            This could be the result of your entering an invalid URL or the result of an application bug.
        </p>
        <p>
            If you entered an invalid URL, the solution is simple: <em>don't do that!</em>
        </p>
        <p>
            If the cause is an application error, please don't curse, pout, or stomp your feet -- especially in our open office!
            Throwing a tantrum won't fix the problem; reporting the issue to the site's administrator <em>might</em>.
        </p>

        <p>Draw upon the wisdom of your years and do the right thing.</p>
    </div>
