<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Parameter Detail
                <a class="pull-right" data-ng-href="#/parameters/{{parameter.parmGid}}/edit">Edit</a>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Gid</dt>
                    <dd>{{ parameter.parmGid }}</dd>
                    <dt>Code</dt>
                    <dd>{{ parameter.parmCde }}</dd>
                    <dt>Name</dt>
                    <dd>{{ parameter.parmNam }}</dd>
                    <dt>Description</dt>
                    <dd>{{ parameter.parmDesc }}</dd>
                    <dt>Data type</dt>
                    <dd>{{ parameter.parmDataTyp }}</dd>
                    <dt>Format</dt>
                    <dd>{{ parameter.parmFrmtTxt }}</dd>
                    <dt>Last update</dt>
                    <dd>{{ parameter.lstUpdtTstmp | date:'medium' }} <em>by</em> <strong>{{ parameter.lstUpdtId }}</strong></dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/parameters/{{parameter.parmGid}}/edit">Edit Parameter</a>
                <button class="list-group-item" data-ng-click="delete(parameter)">Delete Parameter</button>
                <a class="list-group-item" data-ng-href="#/parameters/list">Show Parameter List</a>
            </div>
        </div>
    </div>
</div>
