<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Parameter List
                <ul class="list-inline pull-right">
                    <li><a data-ng-href="#/parameters/new">Add</a></li>
                </ul>
            </div>

            <table class="table table-condensed table-striped">
            	<thead>
            		<th><a href="" data-ng-click="sort('parmNam')">Name</a></th>
                    <th><a href="" data-ng-click="sort('parmGid')">Gid</a></th>
                    <th><a href="" data-ng-click="sort('parmDataTyp')">Data Type</a></th>
                    <th><a href="" data-ng-click="sort('parmCde')">Code</a></th>
            	</thead>
            	<tbody>
            	    <tr data-ng-repeat="p in parameters | orderBy: sortOptions.key: sortOptions.reverse ">
            	    	<td><a data-ng-href="#/parameters/{{ p.parmGid }}/detail">{{ p.parmNam }}</a></td>
                        <td>{{ p.parmGid }}</td>
            	        <td>{{ p.parmDataTyp }}</td>
                        <td>{{ p.parmCde }}</td>
            	    </tr>
            	</tbody>
            </table>
        </div>
    </div>

</div>
