<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Attribute Detail
            </div>

            <table class="table table-condensed">
                <tbody>
                    <tr><th>Gid</th><td>{{ attribute.prdctAtrbGid }}</td></tr>
                    <tr><th>Name</th><td>{{ attribute.atrbNam }}</td></tr>
                    <tr><th>Description</th><td>{{ attribute.atrbDesc }}</td></tr>
                    <tr><th>Header</th><td>{{ attribute.atrbHdrNam }}</td></tr>
                    <tr><th>Field width</th><td>{{ attribute.atrbMaxLngthNbr }}</td></tr>
                    <tr><th>Data type</th><td>{{ attribute.atrbDataTypTxt }}</td></tr>
                    <tr><th>Format</th><td>{{ attribute.atrbFrmtTxt }}</td></tr>
                    <tr><th>Alignment</th><td>{{ attribute.atrbDataAlgnCde }}</td></tr>
                    <tr><th>Pad character</th><td>{{ attribute.atrbPadVal }}</td></tr>
                    <tr><th>Quote character</th><td>{{ attribute.txtWrapVal }}</td></tr>

                    <tr><th>Filler?</th><td>{{ indicatorToText(attribute.atrbIsFlrInd) }}</td></tr>
                    <tr><th>Filler value</th><td>{{ attribute.atrbDfltVal }}</td></tr>

                    <tr><th>Pivot?</th><td>{{ indicatorToText(attribute.atrbPivotInd) }}</td></tr>
                    <tr><th>Pivot value sort</th><td>{{ attribute.pivotSortOrdr }}</td></tr>
                    <tr><th>Pivot value function</th><td>{{ attribute.pivotValFnctnNam }}</td></tr>

                    <tr><th>Aggregate function</th><td>{{ attribute.aggFnctnCde }}</td></tr>
                    <tr><th>Metric Id</th><td>{{ attribute.unpivotSrceAtrbId }}</td></tr>
                    <tr><th>Null value override</th><td>{{ attribute.aggNullPlugVal }}</td></tr>

                    <tr><th>Unpivot Id target?</th><td>{{ indicatorToText(attribute.unpivotIdTrgtAtrbInd) }}</td></tr>
                    <tr><th>Unpivot value target?</th><td>{{ indicatorToText(attribute.unpivotValTrgtAtrbInd) }}</td></tr>

                    <tr><th>Format Gid</th><td>{{ attribute.prdctFrmtGid }}</td></tr>
                    <tr><th>Standard attribute?</th><td>{{ indicatorToText(attribute.stdAtrbInd) }}</td></tr>
                    <tr><th>Split field?</th><td>{{ indicatorToText(attribute.splitFileOnAtrbValInd) }}</td></tr>

<!--
                    <tr><th>Required?</th><td>{{ indicatorToText(attribute.atrbRqrdInd) }}</td></tr>
                    <tr><th>Order #</th><td>{{ attribute.atrbOrdrNbr }}</td></tr>
                    <tr><th>Record sort field rank</th><td>{{ attribute.ordrByRankNbr }}</td></tr>
-->
                    <tr><th>Last update</th><td>{{ attribute.lstUpdtTstmp | date:'medium' }} <strong>by</strong> {{ attribute.lstUpdtId }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/attributes/{{attribute.prdctAtrbGid}}/edit">Edit Attribute</a>
                <a class="list-group-item" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/attributes/list">Show Attribute List</a>
                <a class="list-group-item" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/detail">Show Format Detail</a>
            </div>
        </div>
    </div>
</div>