<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Parameter Detail
                <a class="pull-right" data-ng-href="#/products/{{productParameter.entrpPrdctGid}}/parameters/{{productParameter.prdctParmGid}}/edit">Edit</a>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Gid</dt>
                    <dd>{{ productParameter.prdctParmGid }}</dd>
                    <dt>Name</dt>
                    <dd>{{ productParameter.parameter.parmNam }}</dd>
                    <dt>Parm Gid</dt>
                    <dd>{{ productParameter.parameter.parmGid }}</dd>
                    <dt>Min occurs</dt>
                    <dd>{{ productParameter.minOcrncNbr }}</dd>
                    <dt>Max occurs</dt>
                    <dd>{{ productParameter.maxOcrncNbr }}</dd>
                    <dt>Calculated</dt>
                    <dd>{{ indicatorToText(productParameter.clctdParmInd) }}</dd>
                    <dt>SQL expression</dt>
                    <dd>{{ productParameter.clctdValExprsTxt }}</dd>
                    <dt>Related column</dt>
                    <dd>{{ productParameter.rltdColNam }}</dd>
                    <dt>Last update</dt>
                    <dd>{{ productParameter.lstUpdtTstmp | date:'medium' }} <em>by</em> <strong>{{ productParameter.lstUpdtId }}</strong></dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{productParameter.entrpPrdctGid}}/parameters/{{productParameter.prdctParmGid}}/edit">Edit Parameter</a>
                <button class="list-group-item" data-ng-click="delete(productParameter)">Delete Parameter</button>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{productParameter.entrpPrdctGid}}/parameters/list">Show Parameter List</a>
            </div>
        </div>
    </div>
</div>
