<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Task Detail
                <a class="pull-right" data-ng-href="#/products/{{task.entrpPrdctGid}}/tasks/{{task.taskGid}}/edit">Edit</a>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Gid</dt>
                    <dd>{{ task.taskGid }}</dd>
                    <dt>Name</dt>
                    <dd>{{ task.taskNam }}</dd>
                    <dt>Type</dt>
                    <dd>{{ task.taskTypCde }}</dd>
                    <dt>SQL template</dt>
                    <dd>{{ task.srceSqlTmpltTxt }}</dd>
                    <dt>Program name</dt>
                    <dd>{{ task.extnlPgmNam }}</dd>
                    <dt>Program arguments</dt>
                    <dd>{{ task.extnlPgmArgListTxt }}</dd>
                    <dt>Linked format</dt>
                    <dd>{{ task.prdctFrmtGid }}</dd>
                    <dt>Target table</dt>
                    <dd>{{ task.trgtPrdctDataObjctGid }}</dd>
                    <dt>Prepare partition</dt>
                    <dd>{{ indicatorToText(task.prepPrtnInd) }}</dd>
                    <dt>Create target</dt>
                    <dd>{{ indicatorToText(task.crteTrgtTblInd) }}</dd>
                    <dt>Truncate target</dt>
                    <dd>{{ indicatorToText(task.trgtTrnctInd) }}</dd>
                    <dt>Requirement</dt>
                    <dd>{{ task.rqmtGid }}</dd>
                    <!--
                    <dt>Sequence #</dt>
                    <dd>{{ task.taskSeqNbr }}</dd>
                    -->
                    <dt>Last updated</dt>
                    <dd>{{ task.lstUpdtTstmp | date:'medium' }} <strong>by</strong> {{ task.lstUpdtId }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/{{task.taskGid}}/edit">Edit Task</a>
                <button type="button" class="list-group-item" data-ng-click="delete(task)">Delete Task</button>
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/list">Show Task List</a>
                <a class="list-group-item" data-ng-href="#/products/list">Show Product List</a>
            </div>
        </div>
    </div>
</div>
