<h4>Product Parameter Detail</h4>

<table class="table table-condensed">
    <tbody>
        <tr><td>Gid</td><td>{{ productParameter.prdctParmGid }}</td></tr>
        <tr><td>Parm Gid</td><td>{{ productParameter.parmGid }}</td></tr>
        <tr><td>Product Gid</td><td>{{ productParameter.entrpPrdctGid }}</td></tr>
        <tr><td>Min occurs</td><td>{{ productParameter.minOcrncNbr }}</td></tr>
        <tr><td>Max occurs</td><td>{{ productParameter.maxOcrncNbr }}</td></tr>
        <tr><td>Calculated</td><td>{{ productParameter.clctdParmInd }}</td></tr>
        <tr><td>SQL expression</td><td>{{ productParameter.clctdValExprsTxt }}</td></tr>
        <tr><td>Related column</td><td>{{ productParameter.rltdColNam }}</td></tr>
        <tr><td>Last update</td><td>{{ productParameter.lstUpdtTstmp }} <strong>by</strong> {{ productParameter.lstUpdtId }}</td></tr>
    </tbody>
</table>

<a role="button" class="btn btn-default" data-ng-href="#/products/{{selections.entrpPrdctGid}}/parameters/{{productParameter.prdctParmGid}}/edit">Edit</a>
<a role="button" class="btn btn-default" data-ng-href="#/products/{{selections.entrpPrdctGid}}/parameters/list">Parameters</a>
