<h4>Product Format List</h4>

<table class="table table-condensed">
    <thead>
        <th>Name</th>
        <th>Gid</th>
        <th></th>
    </thead>

    <tbody>
        <tr data-ng-repeat="f in formats">
            <td><a data-ng-href="#/products/{{ f.entrpPrdctGid }}/formats/{{ f.prdctFrmtGid }}/edit">{{ f.prdctFrmtNam }}</a></td>
            <td>{{ f.prdctFrmtGid }}</td>
            <td>
                <a data-ng-href="#/products/{{ f.entrpPrdctGid }}/formats/{{ f.prdctFrmtGid }}/attributes/list">Attributes</a>
            </td>
        </tr>
    </tbody>
</table>
