
<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Detail
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr><th>Property</th><th>Value</th></tr>
                </thead>

                <tbody>
                    <tr><td>Gid</td><td>{{ product.entrpPrdctGid }}</td></tr>
                    <tr><td>Name</td><td>{{ product.entrpPrdctNam }}</td></tr>
                    <tr><td>Description</td><td>{{ product.entrpPrdctDesc }}</td></tr>
                    <!--
                    <tr><td>Group Id</td><td>{{ product.entrpPrdctGrpGid }}</td></tr>
                    -->
                    <tr><td>Target database</td><td>{{ product.trgtSchmaNam }} @ {{ product.trgtDbNam }}</td></tr>
                    <tr><td>Perl driver</td><td>{{ product.trgtPerlDrvrNam }}</td></tr>
                    <tr><td>Enabled</td><td>{{ indicatorToText(product.aprvdInd) }}</td></tr>
                    <tr><td>Output directory</td><td>{{ product.fileLctnTmpltTxt }}</td></tr>
                    <tr>
                        <td>Last update</td>
                        <td>{{ product.lstUpdtTstmp | date:'medium' }} <strong>by</strong> {{ product.lstUpdtId }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            
            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/edit">Edit Product</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/parameters/list">Show Product Parameters</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/formats/list">Show Product Formats</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/tasks/list">Show Product Tasks</a>
                <a class="list-group-item" href="#/products/list">Show Products</a>
            </div>
        </div>
    </div>
</div>
