<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Task Detail
                <a class="pull-right" data-ng-href="#/products/{{task.entrpPrdctGid}}/tasks/{{task.taskGid}}/edit">Edit</a>
            </div>

            <table class="table table-condensed">
                <tbody>
                    <tr><th>Gid</th><td>{{ task.taskGid }}</td></tr>
                    <tr><th>Name</th><td>{{ task.taskNam }}</td></tr>
                    <tr><th>Type</th><td>{{ task.taskTypCde }}</td></tr>
                    <tr><th>SQL template</th><td>{{ task.srceSqlTmpltTxt }}</td></tr>
                    <tr><th>Program name</th><td>{{ task.extnlPgmNam }}</td></tr>
                    <tr><th>Program arguments</th><td>{{ task.extnlPgmArgListTxt }}</td></tr>
                    <tr><th>Linked format</th><td>{{ task.prdctFrmtGid }}</td></tr>
                    <tr><th>Target table</th><td>{{ task.trgtPrdctDataObjctGid }}</td></tr>
                    <tr><th>Prepare partition</th><td>{{ indicatorToText(task.prepPrtnInd) }}</td></tr>
                    <tr><th>Create target</th><td>{{ indicatorToText(task.crteTrgtTblInd) }}</td></tr>
                    <tr><th>Truncate target</th><td>{{ indicatorToText(task.trgtTrnctInd) }}</td></tr>
                    <tr><th>Requirement</th><td>{{ task.rqmtGid }}</td></tr>

                    <!--<tr><th>Product Gid</th><td>{{ task.entrpPrdctGid }}</td></tr>-->
                    <tr><th>Sequence #</th><td>{{ task.taskSeqNbr }}</td></tr>
                    <tr>
                        <th>Last updated</th>
                        <td>{{ task.lstUpdtTstmp | date:'medium' }} <strong>by</strong> {{ task.lstUpdtId }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/{{task.taskGid}}/edit">Edit Task</a>
                <button type="button" class="list-group-item" data-ng-click="delete(task)">Delete Task</button>
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/list">Show Task List</a>
                <a class="list-group-item" data-ng-href="#/products/list">Show Product List</a>
            </div>
        </div>
    </div>
</div>
