<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Tasks
                <ul class="list-inline pull-right">
                    <li><a data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/new">Add</a></li>
                </ul>
            </div>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th><a href="" data-ng-click="sort('taskSeqNbr')">Order</a></th>
                        <th><a href="" data-ng-click="sort('taskNam')">Name</a></th>
                        <th><a href="" data-ng-click="sort('taskGid')">Gid</a></th>
                        <th><a href="" data-ng-click="sort('taskTypCde')">Type</a></th>
                    </tr>
                </thead>

                <tbody data-ng-model="tasks">
                    <tr data-ng-repeat=" t in tasks | orderBy: sortOptions.key : sortOptions.reverse ">
                        <td>{{ t.taskSeqNbr }}</td>
                        <td><a data-ng-href="#/products/{{ t.entrpPrdctGid }}/tasks/{{t.taskGid}}/detail">{{ t.taskNam }}</a></td>
                        <td>{{ t.taskGid }}</td>
                        <td>{{ t.taskTypCde }}</td>
                    </tr>        
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/reorder">Change Task Order</a>
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/detail">Show Product Detail</a>
                <a class="list-group-item" data-ng-href="#/products/list">Show Product List</a>
            </div>
        </div>
    </div>
</div>
