<h4>New Product Attribute</h4>

<form class="form-horizontal">
    <fieldset>
<!--    
        <div class="form-group">
            <label class="col-sm-2 control-label">Gid</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ attribute.prdctAtrbGid }}</p>
            </div>
        </div>
-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbNam" autofocus >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbDesc">
            </div>
        </div>
<!--
        <div class="form-group">
            <label class="col-sm-2 control-label">Format Gid</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.prdctFrmtGid">
            </div>
        </div>
-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Header</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbHdrNam">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Data type</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbDataTypTxt">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Format</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbFrmtTxt">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Field width</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbMaxLngthNbr">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Alignment</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbDataAlgnCde">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Pad character</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbPadVal">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Quote character</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.txtWrapVal">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Filler?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox"
                        data-ng-model="attribute.atrbIsFlrInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Filler value</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbDfltVal">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Pivot?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox" data-ng-model="attribute.atrbPivotInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Pivot value sort</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.pivotSortOrdr">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Pivot value function</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.pivotValFnctnNam">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Aggregate function</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.aggFnctnCde">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Metric Id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.unpivotSrceAtrbId">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Null value override</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.aggNullPlugVal">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Unpivot Id target?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox" data-ng-model="attribute.unpivotIdTrgtAtrbInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Unpivot value target?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox" data-ng-model="attribute.unpivotValTrgtAtrbInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Standard attribute?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox" data-ng-model="attribute.stdAtrbInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Split field?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox" data-ng-model="attribute.splitFileOnAtrbValInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

<!--
        <div class="form-group">
            <label class="col-sm-2 control-label">Required?</label>
            <div class="col-sm-10">
                <label class="control-label">
                    <input type="checkbox" data-ng-model="attribute.atrbRqrdInd" data-ng-true-value="'Y'" data-ng-false-value="'N'">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Order #</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.atrbOrdrNbr">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Record sort field rank</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="attribute.ordrByRankNbr">
            </div>
        </div>
-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" data-ng-click="save(attribute)">Save</button>
                <a role="button" class="btn btn-default" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/attributes/list">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
