<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Attribute List
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th><a href="" data-ng-click="sort('atrbOrdrNbr')">Order</a></th>
                        <th><a href="" data-ng-click="sort('atrbNam')">Name</a></th>
                        <th><a href="" data-ng-click="sort('prdctAtrbGid')">Gid</a></th>
                        <th><a href="" data-ng-click="sort('stdAtrbInd')">Standard</a></th>
                        <th><a href="" data-ng-click="sort('atrbDataTypTxt')">Data Type</a></th>
                        <th><a href="" data-ng-click="sort('atrbMaxLngthNbr')">Width</a></th>
                        <th>Format</th>
                        <th>Pivot</th>
                        <th>Agg</th>
                        <th>Metric ID</th>
                        <!--
                        <th>ID target</th>
                        <th>Value target</th>
                        -->
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat=" a in attributes | orderBy: sortOptions.key: sortOptions.reverse ">
                        <td>{{ a.atrbOrdrNbr }}</td>
                        <td><a data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{a.prdctFrmtGid}}/attributes/{{a.prdctAtrbGid}}/detail">{{ a.atrbNam }}</a></td>

                        <td>{{ a.prdctAtrbGid }}</td>
                        <td><input type="checkbox" data-ng-model="a.stdAtrbInd" 
                                data-ng-true-value="'Y'" data-ng-false-value="'N'"
                                data-ng-change="updateFlag(a, 'stdAtrbInd')"></td>

                        <td>{{ a.atrbDataTypTxt }}</td>
                        <td>{{ a.atrbMaxLngthNbr }}</td>
                        <td>{{ a.atrbFrmtTxt }}</td>

                        <td><input type="checkbox" data-ng-model="a.atrbPivotInd" 
                                data-ng-true-value="'Y'" data-ng-false-value="'N'"
                                data-ng-change="updateFlag(a, 'atrbPivotInd')"></td>

                        <td>{{ a.aggFnctnCde }}</td>
                        <td>{{ a.unpivotSrceAtrbId }}</td>
                        <!--
                        <td>{{ indicatorToText(a.unpivotIdTrgtAtrbInd) }}</td>
                        <td>{{ indicatorToText(a.unpivotValTrgtAtrbInd) }}</td>
                        -->
                    </tr>        
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            
            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/attributes/new">Add Attribute</a>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/attributes/reorder">Change Attribute Order</a>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/detail">Show Format Detail</a>
            </div>
        </div>
    </div>
</div>
