<div class="row">
    <div class="col-sm-9">
    
        <div class="panel panel-default">
            <div class="panel-heading">
                Click and drag to re-order formats
            </div>

            <div class="panel-body">
                <ol data-ui-sortable="sortableOptions" data-ng-model="formats">
                    <li data-ng-repeat=" f in formats ">{{ f.prdctFrmtNam }}</li>
                </ol>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-ng-disabled="!changed" data-ng-click="save(formats)">Save</button>

        <a role="button" class="btn btn-default" data-ng-href="#/products/{{product.entrpPrdctGid}}/formats/list">Cancel</a>

    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            
            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{product.entrpPrdctGid}}/detail">Show Product Detail</a>
            </div>
        </div>
    </div>
</div>
