<div class="row">
    <div class="col-sm-9">

        <div class="panel panel-default">
            <div class="panel-heading">
                Drag and drop to rearrange Task order
            </div>

            <ul class="list-group" data-ui-sortable="sortableOptions" data-ng-model="tasks">
                <li class="list-group-item" data-ng-repeat=" t in tasks ">{{ t.taskNam }}</li>
            </ul>
        </div>

        <button type="button" class="btn btn-default" 
            data-ng-disabled="!changed"
            data-ng-click="save(tasks)">Save</button>

        <a role="button" class="btn btn-default" 
            data-ng-href="#/products/{{product.entrpPrdctGid}}/tasks/list">Cancel</a>

    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            
            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{product.entrpPrdctGid}}/detail">Show Product Detail</a>
            </div>
        </div>
    </div>
</div>
