
<div class="row">

    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Formats
                <ul class="list-inline pull-right">
                    <li><a data-ng-href="#/products/{{ product.entrpPrdctGid }}/formats/new">Add</a></li>
                </ul>
            </div>

            <table class="table table-condensed table-hover">
                <thead>
                    <th><a href="" data-ng-click="sort('dsplyOrdrNbr')">Order</a></th>
                    <th><a href="" data-ng-click="sort('prdctFrmtNam')">Name</a></th>
                    <th><a href="" data-ng-click="sort('prdctFrmtGid')">Gid</a></th>
                    <th><a href="" data-ng-click="sort('fileTypCde')">Record format</a></th>
                    <th></th>
                </thead>

                <tbody>
                    <tr data-ng-repeat=" f in formats | orderBy: sortOptions.key : sortOptions.reverse ">
                        <td>{{ f.dsplyOrdrNbr }}
                        <td><a data-ng-href="#/products/{{ f.entrpPrdctGid }}/formats/{{ f.prdctFrmtGid }}/detail">{{ f.prdctFrmtNam }}</a></td>
                        <td>{{ f.prdctFrmtGid }}</td>
                        <td>{{ f.fileTypCde }}
                        <td>
                            <a data-ng-href="#/products/{{ f.entrpPrdctGid }}/formats/{{ f.prdctFrmtGid }}/attributes/list">Attributes</a>
                        </td>
<!--                        
                        <td>
                            <a data-ng-href="#/formats/{{ f.prdctFrmtGid }}/parameterValues/list">Enabling Parameters</a>
                        </td>
-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/formats/reorder">Change Format Order</a>
                <a class="list-group-item" data-ng-href="#/products/{{ product.entrpPrdctGid }}/detail">Show Product Detail</a>
                <a class="list-group-item" data-ng-href="#/products/list">Show Products</a>
            </div>
        </div>
    </div>

</div>
