<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Attribute Detail
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Gid</dt><dd>{{ attribute.prdctAtrbGid }}</dd>
                    <dt>Name</dt><dd>{{ attribute.atrbNam }}</dd>
                    <dt>Description</dt><dd>{{ attribute.atrbDesc }}</dd>
                    <dt>Header</dt><dd>{{ attribute.atrbHdrNam }}</dd>
                    <dt>Field width</dt><dd>{{ attribute.atrbMaxLngthNbr }}</dd>
                    <dt>Data type</dt><dd>{{ attribute.atrbDataTypTxt }}</dd>
                    <dt>Format</dt><dd>{{ attribute.atrbFrmtTxt }}</dd>
                    <dt>Alignment</dt><dd>{{ attribute.atrbDataAlgnCde }}</dd>
                    <dt>Pad character</dt><dd>{{ attribute.atrbPadVal }}</dd>
                    <dt>Quote character</dt><dd>{{ attribute.txtWrapVal }}</dd>

                    <dt>Filler?</dt><dd>{{ indicatorToText(attribute.atrbIsFlrInd) }}</dd>
                    <dt>Filler value</dt><dd>{{ attribute.atrbDfltVal }}</dd>

                    <dt>Pivot?</dt><dd>{{ indicatorToText(attribute.atrbPivotInd) }}</dd>
                    <dt>Pivot value sort</dt><dd>{{ attribute.pivotSortOrdr }}</dd>
                    <dt>Pivot value function</dt><dd>{{ attribute.pivotValFnctnNam }}</dd>

                    <dt>Aggregate function</dt><dd>{{ attribute.aggFnctnCde }}</dd>
                    <dt>Metric Id</dt><dd>{{ attribute.unpivotSrceAtrbId }}</dd>
                    <dt>Null value override</dt><dd>{{ attribute.aggNullPlugVal }}</dd>

                    <dt>Unpivot Id target?</dt><dd>{{ indicatorToText(attribute.unpivotIdTrgtAtrbInd) }}</dd>
                    <dt>Unpivot value target?</dt><dd>{{ indicatorToText(attribute.unpivotValTrgtAtrbInd) }}</dd>

                    <dt>Format Gid</dt><dd>{{ attribute.prdctFrmtGid }}</dd>
                    <dt>Standard attribute?</dt><dd>{{ indicatorToText(attribute.stdAtrbInd) }}</dd>
                    <dt>Split field?</dt><dd>{{ indicatorToText(attribute.splitFileOnAtrbValInd) }}</dd>

                    <dt>Last update</dt><dd>{{ attribute.lstUpdtTstmp | date:'medium' }} <strong>by</strong> {{ attribute.lstUpdtId }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/attributes/{{attribute.prdctAtrbGid}}/edit">Edit Attribute</a>
                <a class="list-group-item" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/attributes/list">Show Attribute List</a>
                <a class="list-group-item" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{attribute.prdctFrmtGid}}/detail">Show Format Detail</a>
            </div>
        </div>
    </div>
</div>