
<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Format Display Conditions
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                    <th>Parameter</th>
                    <th>Value</th>
                </thead>

                <tbody>
                    <tr data-ng-repeat="fp in formatParameterValues | orderBy: fp.parmNam">
                        <td>{{fp.parmNam}}</td>
                        <td>{{ fp.parmValTxt }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/displayConditions/add">Add Display Condition</a>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/detail">Show Format Detail</a>
            </div>
        </div>
    </div>
</div>
