<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Parameter Detail
                <a class="pull-right" data-ng-href="#/products/{{productParameter.entrpPrdctGid}}/parameters/{{productParameter.prdctParmGid}}/edit">Edit</a>
            </div>

            <table class="table table-condensed">
                <tbody>
                    <tr><th>Gid</th><td>{{ productParameter.prdctParmGid }}</td></tr>
                    <tr><th>Name</th><td>{{ productParameter.parameter.parmNam }}</td></tr>
                    <tr><th>Parm Gid</th><td>{{ productParameter.parameter.parmGid }}</td></tr>
                    <!--<tr><th>Product Gid</th><td>{{ productParameter.entrpPrdctGid }}</td></tr>-->
                    <tr><th>Min occurs</th><td>{{ productParameter.minOcrncNbr }}</td></tr>
                    <tr><th>Max occurs</th><td>{{ productParameter.maxOcrncNbr }}</td></tr>
                    <tr><th>Calculated</th><td>{{ indicatorToText(productParameter.clctdParmInd) }}</td></tr>
                    <tr><th>SQL expression</th><td>{{ productParameter.clctdValExprsTxt }}</td></tr>
                    <tr><th>Related column</th><td>{{ productParameter.rltdColNam }}</td></tr>
                    <tr><th>Last update</th><td>{{ productParameter.lstUpdtTstmp | date:'medium' }} <strong>by</strong> {{ productParameter.lstUpdtId }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{productParameter.entrpPrdctGid}}/parameters/{{productParameter.prdctParmGid}}/edit">Edit Parameter</a>
                <button class="list-group-item" data-ng-click="delete(productParameter)">Delete Parameter</button>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{productParameter.entrpPrdctGid}}/parameters/list">Show Parameter List</a>
            </div>
        </div>
    </div>
</div>
