
<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
              Product Format Detail
              <a class="pull-right" data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/edit">Edit</a>
          </div>

          <div class="panel-body">

            <dl class="dl-horizontal">
              <dt>Gid</dt>
              <dd>{{ format.prdctFrmtGid }}</dd>

              <dt>Name</dt>
              <dd>{{ format.prdctFrmtNam }}</dd>

              <dt>Description</dt>
              <dd>{{ format.fileDesc }}</dd>

              <dt>File name</dt>
              <dd>{{ format.fileNamTmpltTxt }}</dd>

              <dt>File extension</dt>
              <dd>{{ format.fileExtTxt }}</dd>

              <dt>Compression</dt>
              <dd>{{ format.fileCmprsNam }}</dd>

              <dt>Subdirectory</dt>
              <dd>{{ format.fileLctnTmpltTxt }}</dd>

              <dt>Record format</dt>
              <dd>{{ format.fileTypCde }}</dd>

              <dt>Field separator</dt>
              <dd>{{ format.fldSeparatorVal }}</dd>

              <dt>Line ending</dt>
              <dd>{{ format.lineEndngCde }}</dd>

              <dt>Record terminator</dt>
              <dd>{{ format.endOfRecTxt }}</dd>

              <dt>Max lines per file</dt>
              <dd>{{ format.fileMaxRecCnt }}</dd>

              <dt>Include headers</dt>
              <dd>{{ indicatorToText(format.gnrtHdrInd) }}</dd>

              <dt>Activity filter</dt>
              <dd>{{ indicatorToText(format.applyFactActvyFltrInd) }}</dd>

              <dt>Remove duplicates</dt>
              <dd>{{ indicatorToText(format.applyDstctClusInd) }}</dd>

              <dt>Require file</dt>
              <dd>{{ indicatorToText(format.fileRqrdInd) }}</dd>

              <dt>Allow empty file</dt>
              <dd>{{ indicatorToText(format.allowEmptyFileInd) }}</dd>

              <dt>Last update</dt>
              <dd>{{ format.lstUpdtTstmp | date:'medium' }} <em>by</em> <strong>{{format.lstUpdtId}}</strong></dd>
            </dl>
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
              Record Sort Attributes
              <a class="pull-right" href="#">Edit</a>
          </div>

          <div class="panel-body">
            <p data-ng-hide="sortAttributes.length">
              No sort attribute defined for this format
            </p>

            <ol data-ng-show="sortAttributes.length">
              <li data-ng-repeat="attr in sortAttributes | orderBy: 'ordrByRankNbr' ">
                {{ attr.atrbNam }}
              </li>
            </ol>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
              File Split Attributes
              <a class="pull-right" href="#">Edit</a>
          </div>

          <div class="panel-body">
            <p data-ng-hide="splitAttributes.length">
              No file split attribute defined for this format
            </p>

            <ol data-ng-show="splitAttributes.length">
              <li data-ng-repeat="attr in splitAttributes | orderBy: 'atrbOrdrNbr' ">
                {{ attr.atrbNam }}
              </li>
            </ol>
          </div>
        </div>

    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/edit">Edit Format</a>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/attributes/list">Show Attributes</a>
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/displayConditions">Show Display Conditions</a>
                <a class="list-group-item" data-ng-href="#/products/{{product.entrpPrdctGid}}/formats/list">Show Format List</a>
                <a class="list-group-item" data-ng-href="#/products/list">Show Product List</a>
            </div>
        </div>
    </div>
</div>
