<div class="row">
    <div class="col-sm-9">

        <div class="panel panel-default">
            <div class="panel-heading">
                Drag and drop to rearrange Attribute order
            </div>

            <ul class="list-group list-group-condensed" data-ui-sortable="sortableOptions" data-ng-model="attributes">
                <li class="list-group-item" data-ng-repeat=" a in attributes ">{{ a.atrbNam }}</li>
            </ul>
        </div>

        <button type="button" class="btn btn-default" 
            data-ng-disabled="!changed"
            data-ng-click="save(attributes)">Save</button>

        <a role="button" class="btn btn-default" 
            data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/attributes/list">Cancel</a>

    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            
            <div class="list-group">
                <a class="list-group-item" 
                    data-ng-href="#/products/{{format.entrpPrdctGid}}/formats/{{format.prdctFrmtGid}}/detail">Show Format Detail</a>
            </div>
        </div>
    </div>
</div>
