<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product List
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gid</th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat=" p in products | orderBy: 'entrpPrdctNam' ">
                        <td><a data-ng-href="#/products/{{ p.entrpPrdctGid }}/detail">{{ p.entrpPrdctNam }}</a></td>
                        <td>{{ p.entrpPrdctGid }}</td>
                        <td><a data-ng-href="#/products/{{ p.entrpPrdctGid }}/formats/list">Formats</a></td>
                        <td><a data-ng-href="#/products/{{ p.entrpPrdctGid }}/tasks/list">Tasks</a></td>
                        <td><a data-ng-href="#/products/{{ p.entrpPrdctGid }}/parameters/list">Parameters</a></td>
                    </tr>        
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>

            <div class="list-group">
                <a class="list-group-item" href="#/products/new">Add Product</a>
            </div>
        </div>
    </div>
</div>
