<h4>Task Detail</h4>

<table class="table">
    <tbody>
    <tr><td>Name</td><td>{{ task.taskNam }}</td></tr>
    <tr><td>Type</td><td>{{ task.taskTypCde }}</td></tr>
    <tr><td>Gid</td><td>{{ task.taskGid }}</td></tr>
    <tr><td>Product Gid</td><td>{{ task.entrpPrdctGid }}</td></tr>
    <tr><td>Sequence #</td><td>{{ task.taskSeqNbr }}</td></tr>
    <tr><td>SQL template</td><td>{{ task.srceSqlTmpltTxt }}</td></tr>
    <tr><td>Create target</td><td>{{ task.crteTrgtTblInd }}</td></tr>
    <tr><td>Truncate target</td><td>{{ task.trgtTrnctInd }}</td></tr>
    <tr><td>Requirement</td><td>{{ task.rqmtGid }}</td></tr>
    <tr><td>Target object key</td><td>{{ task.trgtPrdctDataObjctGid }}</td></tr>
    <tr><td>Prepare partition</td><td>{{ task.prepPrtnInd }}</td></tr>
    <tr><td>Program name</td><td>{{ task.extnlPgmNam }}</td></tr>
    <tr><td>Program arguments</td><td>{{ task.extnlPgmArgListTxt }}</td></tr>
    <tr><td>Linked format</td><td>{{ task.prdctFrmtGid }}</td></tr>
    <tr>
        <td>Last updated</td>
        <td>{{ task.lstUpdtTstmp | date:'medium' }} by {{ task.lstUpdtId }}</td>
    </tr>
    </tbody>
</table>>